.viewWrapper {
    width: 50vw;
    height: 50vh;
    display: flex;
    padding: 1em;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarWrapper {
    width: 12em;
    background-image: url(../../assets/images/bg-sidebar-desktop.svg);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.sidebarWrapper > div {
    padding: 0.2em;
    display: flex;
    height: 5em;
}

