.viewWrapper {
  width: 70vw;
  height: 65vh;
  display: flex;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(215, 100%, 97%);
}

.sidebarWrapper {
  width: 25%;
  background-image: url(../../assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.sidebarWrapper > div {
  padding: 1em;
  display: flex;
  text-transform: uppercase;
}

.sidebarWrapper p {
  margin: 0;
  margin-left: 1em;
  color: white;
}

.formWrapper {
  display: flex;
  padding: 2em;
  width: 75%;
  justify-content: center;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.optionsWrapper {
  display: flex;
}

.navigationWrapper {
  display: flex;
  justify-content: space-between;
}
